[Unit]
Description=Monthly Spain autonomo backup

[Timer]
OnCalendar=*-*-01 04:23:00 UTC
Persistent=true
RandomizedDelaySec=20m

[Install]
WantedBy=timers.target
